# Ignore secrets file
src/main/resources/application.properties

# Compiled output
target/
build/

# Maven Wrapper
!/.mvn/wrapper/maven-wrapper.jar

# Log files
*.log

# IDE configuration files
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.factorypath
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/