.slider-container{
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 16px ;
    margin:20px;
    padding:20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Correct property */
    background-color: #002f40; /* Optional: Make background clean */    
}
.slider-title{
    font-weight: bold;
    margin-bottom:10px;
    color: #ccc;
}
.slider-title:hover{
    font-weight: bold;
    transition: 0.3s;
    margin-bottom:10px;
    cursor: pointer;
}